h1 {
    position: absolute;
      bottom: 20px;
      width: 100%;
      display: block;
      padding: 0;
      list-style: none;
      text-align: left;
      margin: 0;
}

p.project-desc {
    position: absolute;
    top:70px;
    
}

h2 {
    position: absolute;
    top: 50px
}

project {
    display: block;
    text-align: left;
    position: absolute;
    height: 10px;
    top: 100%;
    margin-top: 10px;
    width: 100%;
}